 .site-header {
    width: 100%;
    max-width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 60px;
  }
 
  .experimentor_navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    transition: 0.3s;
    padding-top: 35px;
  }
  
  .site_logo img {
    width: 100px;
    height: 100px;
    max-width: 100%;
  }
  .experimentor_navbar ul li a {
    font-size: 18px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .experimentor_navbar ul li a:hover {
    color: #7d828f;
  }
  
  .experimentor_navbar ul .active {
    left: 0;
  }
  
  .site_header_content {
    display: flex;
    flex-direction: row;
  }
  